/* Jost - All Weights (Regular/Roman only, no Italic) */

/* Thin 100 */
@font-face {
  font-family: 'Jost';
  src: url('Jost-Thin.ttf' | asset_url) format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* ExtraLight 200 */
@font-face {
  font-family: 'Jost';
  src: url('Jost-ExtraLight.ttf' | asset_url) format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Light 300 */
@font-face {
  font-family: 'Jost';
  src: url('Jost-Light.ttf' | asset_url) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular 400 */
@font-face {
  font-family: 'Jost';
  src: url('Jost-Regular.ttf' | asset_url) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium 500 */
@font-face {
  font-family: 'Jost';
  src: url('Jost-Medium.ttf' | asset_url) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold 600 */
@font-face {
  font-family: 'Jost';
  src: url('Jost-SemiBold.ttf' | asset_url) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold 700 */
@font-face {
  font-family: 'Jost';
  src: url('Jost-Bold.ttf' | asset_url) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold 800 */
@font-face {
  font-family: 'Jost';
  src: url('Jost-ExtraBold.ttf' | asset_url) format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Black 900 */
@font-face {
  font-family: 'Jost';
  src: url('Jost-Black.ttf' | asset_url) format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}